<input routerLink="/admin/pessoas" type="button" value="Pessoa">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">AngulART</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/livros">Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/livroslist">Lista de Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carro">Carros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carrolist">Lista de Carros</a>
        </li>
      </ul>
    </div>
    <input routerLink="/" type="button" value="Voltar">
  </nav>
  

